<footer class="pageFooter">

    <img class="pageFooter--img" src="/images/logo.png" alt="">

    <div class="pageFooterHelpDiv">
        <div class="pageFooter__contact">
            <h4>Kontakt</h4>
            <p>email : andkraw3@onet.poczta.pl</p>
            <p>telefon : 640 640 640</p>
        </div>

        <div class="pageFooter__rights">
        <span class="pageFooter__rights__logo">
            FIRMA <span class="pageFooter__rights__logo--big">S</span><span class="pageFooter__rights__logo--highlight">KEL</span>
        </span>
            <p>©Wszelkie prawa zastrzeżone</p>
        </div>
    </div>

</footer>