<nav class="mainNavigation"> <!-- // main navigationon on top of every page -->

    <img src="/images/logo.png" alt="" class="mainNavigation--img">

    <ul class="mainNavigation__ul">

        <li class="mainNavigation__ul--li">
            <a href="/home" class="mainNavigation__ul--li--a">
                Home
            </a>
        </li>

        <li class="mainNavigation__ul--li">
            <a href="/aboutus" class="mainNavigation__ul--li--a">
                O nas
            </a>
        </li>

        <li class="mainNavigation__ul--li">
            <a href="/offer" class="mainNavigation__ul--li--a">
                Oferta
            </a>
        </li>

        <li class="mainNavigation__ul--li">
            <a href="/gallery" class="mainNavigation__ul--li--a">
                Galeria
            </a>
        </li>

        <li class="mainNavigation__ul--li">
            <a href="/contact" class="mainNavigation__ul--li--a">
                Kontakt
            </a>
        </li>

    </ul>

    <div class="mainNavigation__burgerMenuButton">
        <div class="stick_1"></div>
        <div class="stick_2"></div>
        <div class="stick_3"></div>
    </div>

    <div class="mainNavigation__burgerMenu hidden">
        <ul class="mainNavigation__burgerMenu--ul">
            <li class="mainNavigation__burgerMenu--ul--li">
                <a href="/home" class="mainNavigation__ul--li--a">
                    Home
                </a>
            </li>

            <li class="mainNavigation__burgerMenu--ul--li">
                <a href="/aboutus" class="mainNavigation__ul--li--a">
                    O nas
                </a>
            </li>

            <li class="mainNavigation__burgerMenu--ul--li">
                <a href="/offer" class="mainNavigation__ul--li--a">
                    Oferta
                </a>
            </li>

            <li class="mainNavigation__burgerMenu--ul--li">
                <a href="/gallery" class="mainNavigation__ul--li--a">
                    Galeria
                </a>
            </li>

            <li class="mainNavigation__burgerMenu--ul--li">
                <a href="/contact" class="mainNavigation__ul--li--a">
                    Kontakt
                </a>
            </li>
        </ul>
    </div>

</nav>
