<nav class="mainNavigation"> <!-- // main navigationon on top of every page -->
    <ul class="mainNavigation__ul">

        <li class="mainNavigation__ul--li">
            <a href="/home" class="mainNavigation__ul--li--a">
                Home
            </a>
        </li>

        <li class="mainNavigation__ul--li">
            <a href="/aboutus" class="mainNavigation__ul--li--a">
                O nas
            </a>
        </li>

        <li class="mainNavigation__ul--li">
            <a href="/offer" class="mainNavigation__ul--li--a">
                Oferta
            </a>
        </li>

        <li class="mainNavigation__ul--li">
            <a href="/gallery" class="mainNavigation__ul--li--a">
                Galeria
            </a>
        </li>

        <li class="mainNavigation__ul--li">
            <a href="/contact" class="mainNavigation__ul--li--a">
                Kontakt
            </a>
        </li>

    </ul>
</nav>