


<div class="contact">

    <header class="contactHeader">
        <h1 class="contactHeader--heading">KONTAKT</h1>
        <img class="contactHeader--img" src="/images/lighting.png" alt="">
    </header>

    <div class="contact__contact">
        <div class="contact__contactForm">
            <h2 class="contact__contact--header">WYŚLIJ WIADOMOŚĆ</h2>

            <form action="/contact" class="contact__contactForm--form" method="post" >

                <label for="person" class="inputLabel">IMIĘ I NAZWISKO</label>
                <input type="text" name="person" class="smallInput" id="person">

                <label for="phone" class="inputLabel">NUMER TELEFONU</label>
                <input type="number" name="phone" class="smallInput" id="phone">

                <label for="problem" class="inputLabel">OPIS PROBLEMU</label>
                <textarea  name="problem" class="bigInput" id="problem"></textarea>

                <button class="submitButton" type="submit">Wyślij</button>

            </form>
        </div>

        <div class="contact__data">

            <div class="contact__data--half">
                <h2 class="contact__contact--header">DANE KONTAKTOWE</h2>
                <span class="contact__contact--infoDiv">
                    <img class="contact__contact--infoDiv--img" src="/images/phone.png" alt="">
                    <p class="contact__contact--infoDiv--info">lukasz.kull909@onet.pl</p>
                </span>
                <span class="contact__contact--infoDiv">
                    <img class="contact__contact--infoDiv--img" src="/images/phone.png" alt="">
                    <p class="contact__contact--infoDiv--info">666 666 666</p>
                </span>
            </div>

            <div class="contact__data--half">
                <h2 class="contact__contact--header">SOCIAL MEDIA</h2>

                <span class="contact__contact--infoDiv">
                    <img class="contact__contact--infoDiv--img" src="/images/phone.png" alt="">
                    <p class="contact__contact--infoDiv--info">facebook.com/dawid/skel_electricity</p>
                </span>
                <span class="contact__contact--infoDiv">
                    <img class="contact__contact--infoDiv--img" src="/images/phone.png" alt="">
                    <p class="contact__contact--infoDiv--info">instagram.com/dawid</p>
                </span>

            </div>

        </div>
    </div>
</div>

{{>footer}}

<script src="/scripts/script2.js"></script>