

<div class="gallery">

    <div class="gallery--container">
        <div class="gallery--container--img">
            <img src="/images/praca1.jpg" alt="">
        </div>

        <div class="gallery--container--text">
            <h4>30 wrześcnia 2020</h4>
            <h1>Apartament w Lichtensteinie za granicą</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi aperiam aut cumque,
                et itaque minima modi, qui quibusdam repellendus veniam voluptatem?
                Dignissimos error, impedit inventore laboriosam nostrum nulla tempora?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Amet enim fuga iste perspiciatis quas quis saepe sunt tempore.
                Cumque debitis delectus deleniti illo iusto provident!
                Blanditiis facere nisi quae veritatis?
            </p>
            <button type="submit" class="button--gallery"><a href="">ZOBACZ <br>WIĘCEJ</a></button>
        </div>
    </div>

        <div class="clearfix"></div>


        <div class="gallery--container">
            <div class="gallery--container--img">
                <img src="/images/praca1.jpg" alt="">
            </div>

            <div class="gallery--container--text">
                <h4>30 wrześcnia 2020</h4>
                <h1>Dom w Krakowie</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi aperiam aut cumque,
                    et itaque minima modi, qui quibusdam repellendus veniam voluptatem?
                    Dignissimos error, impedit inventore laboriosam nostrum nulla tempora?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Amet enim fuga iste perspiciatis quas quis saepe sunt tempore.
                    Cumque debitis delectus deleniti illo iusto provident!
                    Blanditiis facere nisi quae veritatis?
                </p>
                <button type="submit" class="button--gallery"><a href="">ZOBACZ <br>WIĘCEJ</a></button>
            </div>
    </div>
</div>

{{>footer}}
