<div class="baner--container background">
    <div class="title">
        <h1>Elektryka</h1>
        <h1>Skel</h1>
    </div>
    <div class="animate--text">
        <span id="miejce-na-text">tekst pobierany ze skyptu</span>
    </div>
</div>



