<div class="bannerContainer">
    <div class="home__heading">
        <h1 class="home__heading--header"><span>E</span>LEKTRYKA <span>S</span>KEL</h1>
        {{>animatedText}}
    </div>
    <div class="img-baner">
        <img src="/images/imgbaner.png" alt="">
    </div>
</div>

<div class="aboutUsContainer">

        <img id="aboutUsContainer--img" class="aboutUsContainer--img" src="/images/au_home.png" alt="">

    <div class="aboutUsContainer__desc">
        <h1 class="aboutUsContainer__desc--header">KIM JESTEŚMY</h1>
        <p class="aboutUsContainer__desc--text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusamus accusantium animi autem consequuntur culpa dolorem error facilis fuga labore,
            laborum maxime obcaecati omnis optio porro, quo quod, tempora tempore ullam! <br><span class="abutUsContainer--read--more"><a
                href="/aboutUs">czytaj wiecej...</a></span>
        </p>
    </div>
</div>

<div class="offerContainer">
    <h1 class="offerContainer--header">
        OFERTA W SKRÓCIE
    </h1>
    <div class="offerContainer__offers">

        <div class="offerContainer__offers__offer">
            <div class="offerContainer__offers__offer--line"></div>
            <p class="offerContainer__offers__offer--name">
                INSTALACJE ELEKTRYCZNE
            </p>
        </div>

        <div class="offerContainer__offers__offer">
            <div class="offerContainer__offers__offer--line"></div>
            <p class="offerContainer__offers__offer--name">
                INSTALACJE ODGROMOWE
            </p>
        </div>

        <div class="offerContainer__offers__offer">
            <div class="offerContainer__offers__offer--line"></div>
            <p class="offerContainer__offers__offer--name">
                MONITORING
            </p>
        </div>

        <div class="offerContainer__offers__offer">
            <div class="offerContainer__offers__offer--line"></div>
            <p class="offerContainer__offers__offer--name">
                INTELIGENTNE DOMY
            </p>
        </div>

        <div class="offerContainer__offers__offer">
            <div class="offerContainer__offers__offer--line"></div>
            <p class="offerContainer__offers__offer--name">
                INSTALACJE ALARMOWE
            </p>
        </div>

        <div class="offerContainer__offers__offer">
            <div class="offerContainer__offers__offer--line"></div>
            <p class="offerContainer__offers__offer--name">
                PRZYŁĄCZA
            </p>
        </div>
    </div>
    <div class="offerContainer--button">
        <button><a href="">ZOBACZ WIĘCEJ W PEŁNEJ OFERCIE</a></button>
    </div>
</div>


<div class="galleryContainer">
    <div class="galleryContainer__cafel1 cafel">

    </div>

    <div class="galleryContainer__cafel2 cafel">

    </div>

    <div class="galleryContainer__doubleCafel">
        MINI GALERIA
    </div>

    <div class="galleryContainer__cafel3 cafel">

    </div>

    <div class="galleryContainer__cafel4 cafel">

    </div>

    <div class="galleryContainer__cafel5 cafel">

    </div>

    <div class="galleryContainer__emptyCafel">

    </div>

    <div class="galleryContainer__cafel6 cafel">

    </div>

    <div class="galleryContainer__cafel7 cafel">

    </div>

    <div class="galleryContainer__cafel8 cafel">

    </div>

    <div class="galleryContainer__seeMore">
        <a href="/gallery">
            <p>zobacz</p>
            <p>pełną</p>
            <p>galerię</p>
        </a>
    </div>
    
</div>


<script src="/scripts/home.js"></script>
<script src="/scripts/animations.js"></script>



