<div class="bannerContainer">
    <div class="home__heading">
        <h1 class="home__heading--header">ELEKTRYKA SKEL</h1>
        {{>animatedText}}
    </div>
</div>

<div class="aboutUsContainer">
    <img class="aboutUsContainer--img" src="/images/au_home.png" alt="">

    <div class="aboutUsContainer__desc">
        <h1 class="aboutUsContainer__desc--header">KIM JESTEŚMY</h1>
        <p class="aboutUsContainer__desc--text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusamus accusantium animi autem consequuntur culpa dolorem error facilis fuga labore,
            laborum maxime obcaecati omnis optio porro, quo quod, tempora tempore ullam!
        </p>
    </div>
</div>

<div class="offerContainer">
    <h1 class="offerContainer--header">
        Oferta w skrócie
    </h1>
    <div class="offerContainer__offers">

        <div class="offerContainer__offers__offer">
            <div class="offerContainer__offers__offer--line"></div>
            <p class="offerContainer__offers__offer--name">
                INSTALACJE ELEKTRYCZNE
            </p>
        </div>

        <div class="offerContainer__offers__offer">
            <div class="offerContainer__offers__offer--line"></div>
            <p class="offerContainer__offers__offer--name">
                INSTALACJE ODGROMOWE
            </p>
        </div>

        <div class="offerContainer__offers__offer">
            <div class="offerContainer__offers__offer--line"></div>
            <p class="offerContainer__offers__offer--name">
                MONITORING
            </p>
        </div>

        <div class="offerContainer__offers__offer">
            <div class="offerContainer__offers__offer--line"></div>
            <p class="offerContainer__offers__offer--name">
                INTELIGENTNE DOMY
            </p>
        </div>

        <div class="offerContainer__offers__offer">
            <div class="offerContainer__offers__offer--line"></div>
            <p class="offerContainer__offers__offer--name">
                INSTALACJE ALARMOWE
            </p>
        </div>

        <div class="offerContainer__offers__offer">
            <div class="offerContainer__offers__offer--line"></div>
            <p class="offerContainer__offers__offer--name">
                PRZYŁĄCZA
            </p>
        </div>
    </div>
</div>

<footer class="pageFooter">

    <img class="pageFooter--img" src="/images/logo.png" alt="">

    <div class="pageFooterHelpDiv">
        <div class="pageFooter__contact">
            <h4>Kontakt</h4>
            <p>email : andkraw3@onet.poczta.pl</p>
            <p>telefon : 640 640 640</p>
        </div>

        <div class="pageFooter__rights">
        <span class="pageFooter__rights__logo">
            FIRMA <span class="pageFooter__rights__logo--big">S</span><span class="pageFooter__rights__logo--highlight">KEL</span>
        </span>
            <p>©Wszelkie prawa zastrzeżone</p>
        </div>
    </div>

</footer>



<script src="/scripts/home.js"></script>



