
<div class="offer">
    <header class="offer__offerHeader">
        <h1  class="offer__offerHeader--heading">
            NASZA OFERTA
        </h1>
        <img class="offer__offerHeader--img" src="/images/lighting.png" alt="">
    </header>

    <div class="offer__offers">
        <div class="offer__offers--singleOffer">
            <div class="offer__offers--singleOffer--header">
                <h2 class="offer__offers--singleOffer--header--heading">
                    INSTALACJE ELEKTRYCZNE
                </h2>
                <img src="/images/lighting.png" alt="" class="offer__offers--singleOffer--header--img">
            </div>

            <p class="offer__offers--singleOffer--text">
                Lorem ippsum ipsum lorem Lorem ipsum ipsum Lorem ipsum ipsum  Lorem ipsum  lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem
            </p>
        </div>

        <div class="offer__offers--singleOffer">
            <div class="offer__offers--singleOffer--header">
                <h2 class="offer__offers--singleOffer--header--heading">
                    INSTALACJE ODGROMOWE
                </h2>
                <img src="/images/lighting.png" alt="" class="offer__offers--singleOffer--header--img">
            </div>

            <p class="offer__offers--singleOffer--text">
                Lorem ipsum ipipsum lorem Lorem ipsum ipsum Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem
            </p>
        </div>

        <div class="offer__offers--singleOffer">
            <div class="offer__offers--singleOffer--header">
                <h2 class="offer__offers--singleOffer--header--heading">
                    INSTALACJE ALARMOWE / ALARMY
                </h2>
                <img src="/images/lighting.png" alt="" class="offer__offers--singleOffer--header--img">
            </div>

            <p class="offer__offers--singleOffer--text">
                Lorem ipsum ipsum Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum Lorem ipsum ipsum lorem lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem ipsum ipsum lorem Lorem ipsum ipsum lo ipsum ipsum lorem Lorem ipsum ipsum lo Lorem ipsum ipsum lorem Lorem ipsum ipsum Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem
            </p>
        </div>

        <div class="offer__offers--singleOffer">
            <div class="offer__offers--singleOffer--header">
                <h2 class="offer__offers--singleOffer--header--heading">
                    INSTALACJE KAMER / MONITORING
                </h2>
                <img src="/images/lighting.png" alt="" class="offer__offers--singleOffer--header--img">
            </div>

            <p class="offer__offers--singleOffer--text">
                Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem
            </p>
        </div>

        <div class="offer__offers--singleOffer">
            <div class="offer__offers--singleOffer--header">
                <h2 class="offer__offers--singleOffer--header--heading">
                    SYSTEMY INTELIGENTNEGO DOMU
                </h2>
                <img src="/images/lighting.png" alt="" class="offer__offers--singleOffer--header--img">
            </div>

            <p class="offer__offers--singleOffer--text">
                Lorem ipsum ipsum lorem Lorem
        </div>

        <div class="offer__offers--singleOffer">
            <div class="offer__offers--singleOffer--header">
                <h2 class="offer__offers--singleOffer--header--heading">
                    PRZYŁĄCZA WLZ
                </h2>
                <img src="/images/lighting.png" alt="" class="offer__offers--singleOffer--header--img">
            </div>

            <p class="offer__offers--singleOffer--text">
                Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem Lorem ipsum ipsum lorem
            </p>
        </div>
    </div>
</div>


