<div class="send">
    <h1 class="send--header">Dziękujemy za zainteresowanie</h1>
    <p class="send--message">Twoje zgłoszenie zostało wysłane</p>
    <a class="send--link" href="/home">Go back to main page...</a>
</div>

