@font-face {
    font-family: A bite;
    src:url(../fonts/ABITE.ttf);
}
@font-face {
    font-family: Century Gothic;
    src:url(../fonts/GOTHIC.ttf);
}

.aboutUs{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 766px;
}

.aboutUs__mainImg{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 35px;
}

.aboutUs__mainImg--img{

}

.aboutUs__info{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutUs__info--header{
    margin-bottom:120px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutUs__info--header--heading{
    position: absolute;
    top:0;
    left:50px;
    font-size: 50px;
    font-family: 'Cairo', sans-serif;
    z-index: 2;
    font-weight: bolder;
}
.aboutUs__info--header--heading span{
    font-size: 72px;
    color:#ffbb28;
    font-family: A bite;
}
.aboutUs__info--header--img{
    position: absolute;
    top:70px;
    left:140px;
    z-index: 1;
}

.aboutUs__info--text{

}

.aboutUs__info--text--p{
    font-family: Century Gothic;
    width: 70%;
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: justify;
}

@media (max-width: 1100px) {
    .aboutUs__info--text--p{
        width: 90%;
    }
}
@media (max-width: 950px) {
    .aboutUs__info--text--p{
        font-size: 19px;
    }
}
@media (max-width: 890px) {
    .aboutUs{
        flex-direction: column;
    }
    .aboutUs__mainImg{
        margin-top: 100px;
        justify-content: center;
        margin-right: 25px;
    }
    .aboutUs__info--header{
        transform: translateX(50px);
    }
    .aboutUs__info{
        width: 80%;
    }

}

@media (max-width: 750px) {
    .aboutUs__mainImg--img{
        width: 288px;
        height: 310px;
    }
}

@media (max-width: 590px) {
    .aboutUs__info--text--p{
        font-size: 17px;
        width: 95%;
    }
    .aboutUs__info--header{
        transform: translateX(15px);
    }
    .aboutUs__mainImg--img{
        margin-top: 20px;
    }
}
@media (max-width: 420px) {
    .aboutUs {
        height: 866px;
    }
    .aboutUs__mainImg--img{
        width: 230px;
        height: 248px;
        margin-top:-20px;
    }
    .aboutUs__info--text--p{
        width: 98%;
    }
    .aboutUs__info--header{
        transform: translateX(0px);
    }
    .aboutUs__info--header--heading{
        font-size: 35px;
    }
    .aboutUs__info--header--img{
        width: 66px;
        height: 27px;
        top: 35px;
        left: 80px;
    }

}

@media (max-width: 420px) {
    .aboutUs__mainImg--img{
        width: 230px;
        height: 248px;
    }
    .aboutUs__info{
        width: 90%;
    }
}
