.contact{
    width: 100%;
    margin: 0 auto;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.contactHeader{
    position: relative;
    width: 100%;
    min-width: 60px;
    padding: 0;
    margin-bottom: 100px;
}

.contactHeader--img{
    position: absolute;
    left: 52%;
    top: 20px;
    z-index: 1;
    width:60px;
    height: 30px;
}

.contactHeader--heading{
    position: absolute;
    font-family: Century Gothic;
    color:#323232;
    font-size: 35px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.contact__contact{
    display: flex;
    width: 100%;
}
.contact__contactForm{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 5%;
    border-right: 1px solid black;
}

.contact__contact--header{
    font-family: Century Gothic;
    border-bottom: solid 1px black;
    margin-bottom: 20px;
    width: 60%;
    white-space: nowrap;
    font-weight: 700;
}

.contact__contactForm--form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bigInput{
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    background-color: #f0eeee;
    width: 60%;
    min-height: 200px;
    resize: vertical;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 9px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 9px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 9px -2px rgba(66, 68, 90, 1);

    border:none;
}

.smallInput{
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    background-color: #f0eeee;
    width: 60%;
    border-radius: 3px;

    -webkit-box-shadow: 0px 0px 9px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 9px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 9px -2px rgba(66, 68, 90, 1);
    border:none;
}

.inputLabel{
    font-family: Century Gothic;
    font-weight: 1000;
    color: #ffbb28;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.submitButton {
    margin:20px 0;
    width: 150px;
    height: 45px;
    font-family: Century Gothic;
    color:#323232;
    font-size: 20px;
    background-color: #ffbb28;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 1000;

    -webkit-box-shadow: 0px 0px 9px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 9px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 9px -2px rgba(66, 68, 90, 1);

    border: 0.4px black solid;
    cursor: pointer;
}
.submitButton:hover {
    color: #ffbb28;
    background-color: #323232;
    transition: 0.2s;
}

.contact__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-left: 5%;
}

.contact__data--half{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.contact__contact--infoDiv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.contact__contact--infoDiv--img{
    transform: scale(0.75);
    margin-right: 10px;
}
.contact__contact--infoDiv--info{
    font-family: 'Cairo', sans-serif;
    font-weight: 800;
}

@media (max-width: 1100px) {
    .smallInput{
        width: 70%;
    }
    .bigInput{
        width: 70%;
    }
}

@media (max-width: 850px) {
    .contact__contact{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact__contactForm{
        width: 90%;
        border:none;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
    }
    .contact__data{
        width: 90%;
        margin-left: 0;
    }
    .contact__contactForm--form{
        align-items: center;
    }
    .contact__contact--header{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .contact__data--half{
        align-items: center;
    }
    .contact__contact--infoDiv{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .contact__contact{
        width: 93%;
    }
    .contact__data{
        width: 93%;
    }
    .smallInput{
        width: 90%;
        font-size:15px;
    }
    .bigInput{
        width: 90%;
        font-size: 15px;
    }
    .contact__contact--header{
        font-size:20px;
    }
    .contact__contact--infoDiv--img{
        transform: scale(0.6);
        margin-right: 0;
    }
    .contact__contact--infoDiv--info{
        font-size: 15px;
    }
}