@font-face {
    font-family: Century Gothic;
    src:url(../fonts/GOTHIC.ttf);
}
.home{
    margin:30px 0;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.home__heading{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 100px;
    z-index: 2;
}
.home__heading--header{
    font-family: Cairo;
    font-size: 120px;
    font-weight: 700;
    width: 40%;
    color: #323232;
    margin-bottom: 20px;
    letter-spacing: -4px;
    line-height: 0.9;
}
.home__heading p{
    font-family: Cairo;
    font-size: 30px;
    font-weight: 700;
    width: 40%;
    color: #323232;
    margin-bottom: 20px;
    margin-TOP: 20px;
    letter-spacing: -1px;
    /line-height: 0.66;
}
.home__heading--header span{
    /font-size: 140px;
    color:#ffbb28;
}
.animateTextDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.animateTextDiv__text{
    width: 100%;
    font-size: 35px;
    font-family: Cairo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #323232;
    font-weight: 700;
}

@media (max-width: 1300px) {
    .home__heading{
        width:60%;
    }
    .home__heading--header{
        font-size: 65px;
    }
    .home__heading--header span{
        font-size: 85px;
    }
    .animateTextDiv__text{
        font-size: 25px;
    }
}
@media (max-width: 1024px) {
    .img-baner img{

        width:280px;
        height: 580px;
    }
}
@media (max-width: 924px) {
    .img-baner img{

        width:250px;
        height: 550px;
    }
}

@media (max-width: 865px) {
    .home{
        width:100%;
    }
    .home__heading{
        width: 90%;
    }
    .img-baner{
        transform: translateX(-30%);
    }
    .img-baner img{
        width:220px;
        height: 500px;
    }
}
@media (max-width: 695px) {
    .img-baner img{
        width:160px;
        height: 350px;
    }
    .home__heading--header{
        font-size: 50px;
    }
}
@media (max-width: 600px) {
    .img-baner img{
        width:130px;
        height: 300px;
    }
}



@media (max-width: 540px) {
    .animateTextDiv__text{
        font-size: 23px;
    }
    .home__heading{
        margin-left: 30px;
    }
}
@media (max-width: 463px) {
    .animateTextDiv__text{
        font-size: 20px;
    }
    .home__heading--header{
        font-size: 40px;
    }
    .home__heading{
        margin-left: 15px;
    }
    .img-baner img{
        width:100px;
        height: 240px;
    }
}
@media (max-width: 375px) {

    .animateTextDiv__text{
        font-size: 18px;
    }
    .home__heading--header{
        font-size: 40px;
    }
    .home__heading{
        margin-left: 0px;
        width: 95%;
    }
    .img-baner img{
        width: 90px;
        height: 210px;
    }
}
@media (max-height: 350px) {
    .home{
        margin-top: 100px;
    }
}
.aboutUsContainer{
    margin: 100px 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.aboutUsContainer--img{
    width: 45%;
    height: auto;
}

.aboutUsContainer__desc{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutUsContainer__desc--header{
    font-family: 'Cairo', sans-serif;
    padding: 15px;
    font-weight: 700;
    color:#323232
}

.aboutUsContainer__desc--text{
    font-family: 'Cairo', sans-serif;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 2px;
    text-align: justify;
    padding: 15px;
    color:grey;
}
.abutUsContainer--read--more a{
    text-decoration: none;
    font-weight: bolder;
    color:#ffbb28;
    font-family: Century Gothic;
    letter-spacing: 0.9px;
}
.abutUsContainer--read--more a:hover{
    transition: 0.2s;
    color:#323232;
}

/*animation*/



@media (max-width: 990px) {
    .aboutUsContainer__desc--text{
        font-size: 20px;
    }
    .aboutUsContainer__desc--header{
        font-size: 26px;
    }
    .aboutUsContainer--img{
        width: 48%;
    }
    .aboutUsContainer--img--animation{
        width: 48%;
    }
}

@media (max-width: 840px) {
    .aboutUsContainer__desc--text{
        font-size: 17px;
    }
}

@media (max-width: 800px) {
    .aboutUsContainer{
        flex-direction: column;
        justify-content: center;
    }
    .aboutUsContainer--img{
        width: 80%;
    }
    .aboutUsContainer--img--animation{
        width: 80%;
    }
    .aboutUsContainer__desc{
        width: 90%;
    }
    .aboutUsContainer__desc--text{
        font-size: 20px;
    }
}
@media (max-width: 500px) {
    .aboutUsContainer__desc--text{
        font-size: 17px;
    }
}

.offerContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    height:auto;
}

.offerContainer--header{
    font-family: 'Cairo', sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
}

.offerContainer__offers{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.offerContainer__offers__offer{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5px 0;
}
.offerContainer__offers__offer:nth-child(3){
    flex-direction: row-reverse;
}
.offerContainer__offers__offer:nth-child(4){
    flex-direction: row-reverse;
}
.offerContainer__offers__offer--line{
    height: 1px;
    background-color: #ffbb28;
    width: 45%;
}
.offerContainer__offers__offer--name{
    font-family: Century Gothic;
    font-size: 20px;
    font-weight: bold;
}
.offerContainer__offers__offer--name span{
    margin-top:100px;
}
.offerContainer--button{
    margin: 50px auto 0;
}
.offerContainer--button button{
    border:0;
    width:500px;
    height:50px;
    background: #ffbb28;
    border-radius: 20px;
}
.offerContainer--button button a{
    text-decoration: none;
    color:#323232;
    font-family: Century Gothic;
    font-size: 20px;
    font-weight: bolder;
}
.offerContainer--button button:hover{
    background: #323232;
    transition: 0.2s;
}
.offerContainer--button button a:hover{
    color: #ffbb28;
    transition: 0.2s;
}
@media (max-width: 770px) {
    .offerContainer--header{
        font-size: 26px;
    }
    .offerContainer__offers{
        flex-direction: column;
    }
    .offerContainer__offers__offer{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }
}
@media (max-width: 660px){
    .offerContainer__offers{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .offerContainer__offers__offer--name{
        font-size: 18px;
    }
    .offerContainer__offers__offer--line{
        width: 20%;
    }
}
@media (max-width: 550px) {
    .offerContainer--button button{
        width:150px;
        transition: 0.2s;
        padding: 20px;
    }
    .offerContainer--button button a{
        font-size: 12px;
        transition: 0.2s;
    }

}




.pageFooter{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:linear-gradient(white, #d7d6d6);
    width: 100%;
}

.pageFooter--img{
    width: 150px;
    height: auto;
}

.pageFooterHelpDiv{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pageFooter__contact{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
}
.pageFooter__contact h4{
    font-family: Century Gothic;
    margin-bottom: 5px;
}
.pageFooter__contact p{
    font-family: Century Gothic;
}

.pageFooter__rights{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
}
.pageFooter__rights__logo{
    font-family: Century Gothic;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.pageFooter__rights p{
    font-family: "Century Gothic";
    font-size: 14px;
}
.pageFooter__rights__logo--highlight{
    color: #ffbb28;
}
.pageFooter__rights__logo--big{
    color: #ffbb28;
    font-size: 25px;
    margin-left: 3px;
}

@media (max-width: 750px) {
    .pageFooter__contact p{
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .pageFooterHelpDiv{
        flex-direction: column;
    }
    .pageFooter__contact{
        width: 80%;
        margin-bottom: 5px;
    }
    .pageFooter__rights{
        width: 80%;
    }
}

@media (max-width: 500px) {
    .pageFooter__contact h4{
        font-size: 15px;
    }
    .pageFooter__contact p{
        font-size: 14px;
    }
    .pageFooter__contact{
        width: 100%;
    }
    .pageFooter__rights{
        width: 100%;
    }
}

@media (max-width: 400px) {
    .pageFooter--img{
        width: 100px;
    }
    .pageFooter{
        flex-direction: column;
    }
}

.galleryContainer{
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cafel{
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    aspect-ratio: 1/1;
    margin: 1.25%;
}
.cafel:hover{
    transform: scale(104%);
    transition: 0.4s;
}
.galleryContainer__cafel1{
    background-image: url("../images/photo1.jpg");
}
.galleryContainer__cafel2{
    background-image: url("../images/photo2.jpg");
}
.galleryContainer__cafel3{
    background-image: url("../images/photo3.png");
}
.galleryContainer__cafel4{
    background-image: url("../images/photo4.jpg");
}
.galleryContainer__cafel5{
    background-image: url("../images/photo5.jpg");
}
.galleryContainer__cafel6{
    background-image: url("../images/photo6.jpg");
}

.galleryContainer__cafel7{
    background-image: url("../images/photo7.jpg");
}

.galleryContainer__cafel8{
    background-image: url("../images/photo8.jpg");
}

.galleryContainer__emptyCafel{
    width: 20%;
    aspect-ratio: 1/1;
    margin: 1.25%;
}

.galleryContainer__seeMore{
    background-color: #ffbb28;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 20%;
    aspect-ratio: 1/1;
    margin: 1.25%;
}

.galleryContainer__seeMore a{
    text-decoration: none;
    color: #323232;
}

.galleryContainer__seeMore a p{
    font-family: "Century Gothic";
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 9px #CECECE;
}
.galleryContainer__seeMore:hover{
    background-color: #323232;
    transition: 0.2s;
}
.galleryContainer__seeMore a:hover{
    color: #ffbb28;
    transition: 0.2s
}



.galleryContainer__doubleCafel{
    width: 40%;
    aspect-ratio: 2/1;
    margin: 1.25% 2.5%;
    font-family: Cairo;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 840px) {
    .galleryContainer__doubleCafel{
        font-size: 35px;
    }
}
@media (max-width: 700px) {
    .galleryContainer__seeMore a p{
        font-size: 25px;
    }
}
@media (max-width: 600px) {
    .galleryContainer__doubleCafel{
        font-size: 30px;
    }
}
@media (max-width: 500px) {
    .cafel{
        width: 40%;
    }
    .galleryContainer__doubleCafel{
        width: 80%;
    }
    .galleryContainer__emptyCafel{
        display: none;
    }
    .galleryContainer__seeMore{
        width: 82.5%;
        aspect-ratio: 2/1;
    }
}